[project]
name = "games-project-lazarenko"
version = "0.1.0"
description = "Игровой проект для практической работы"
readme = "README.md"
requires-python = ">=3.12"
dependencies = []

[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project.scripts]
pupa-game = "games_project_lazarenko.VD_games.scripts.VD_main:main"
